.vjs-custom-class {
  font-size: 16px;

  .vjs-control-bar {
    background-color: #0d0d0de3;
  }

  .vjs-big-play-button {
    border: 0px;
    border-radius: 10px;
    background-color: #0d0d0de3;
  }

  &:hover {
    .vjs-big-play-button {
      background-color: #131313e3 !important;
    }
  }
}