.about-wrap {
  background-color: gray;

  position: absolute;
  top: 20px;
  right: 0px;
  z-index: 10000;
  padding: 10px 20px;

  opacity: 0.3;
  cursor: pointer;

  transition: all 1s;

  &:hover {
    opacity: 1;
  }
}